/* Asegurar que el contenedor ocupe toda la altura */
html, body {
    height: 100%; /* Altura del 100% de la ventana */
    margin: 0; /* Quitar márgenes */
    padding: 0; /* Quitar padding */
}

/* Estructura de página */
.page-wrapper {
    display: flex;
    flex-direction: column; /* Diseño en columna */
    min-height: 100vh; /* Altura mínima del 100% de la ventana */
}

/* Contenido principal */
main.container {
    flex: 1; /* Toma el espacio restante entre el navbar y el footer */
}

.navbar {
    background-color: #F9FCE7;
    color: #EA4B2E;
    padding: 10px 0;
    font-size: 18px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar h2 {
    margin: 0;
}

.user-actions a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #EA4B2E;
    border-radius: 5px;
}

.user-actions a:hover {
    background-color: #a52a2a;
}

/* Menu section styles */
.container-images {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.container-images h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #EA4B2E;
}

.menu-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-images figure {
    margin: 0 15px;
}

.menu-images img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-images figcaption {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #EA4B2E;

}

/* Footer */
.footer {
    background-color: #EA4B2E; /* Color de fondo */
    color: #000000; /* Color del texto */
    text-align: center; /* Centrar el contenido */
    padding: 30px 0; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-top: auto; /* Asegurar que el footer se quede al final */
}

/* Estilo para el título en el footer */
.footer h2 {
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: 5px; /* Espaciado inferior */
}

/* Estilo para los párrafos del footer */
.footer p {
    margin: 0; /* Sin márgenes */
    font-size: 16px; /* Tamaño del texto */
}

/* Enlaces en el footer */
.footer a {
    color: #5da7fc; /* Color de los enlaces */
    text-decoration: none; /* Quitar subrayado */
}

.footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
